
.screen{

}
.btn{
    display: flex;
    margin: 20px auto;
    padding: 10px 15px;
    background-color: green;
    border: none;
    text-transform: uppercase;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    border-radius: 10px;
}
#main__block {
    border-radius: 10px;
    border: 3px solid rgba(81, 133, 230, 0.8);
    padding: 0;
    margin: 0;
    background-color: rgba(175, 232, 166, 0.452);
    display: flex;
    flex-direction: column;
    height: 90vh;
    max-width: 1000px;
    max-height: 1000px;
    margin: 0 auto;
}

.line{
    display: flex;
    flex: 1;
    width: 100%;
}

.column{
    border-radius: 5px;
    display: flex;
    flex: 1;
    height: 100%;
    transition: all 500ms ease;
}

.column:hover{
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0.5, 0.5, 0.5, 0.5);
    z-index: 1;
}
